<!DOCTYPE html>
<html>
  <head>
    <title>Licences</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body> 
    <div class="about-me">
      <p>
        Hi, I am Luis Flak and currently I'm studying computer science at the 
        <a href="https://www.uni-konstanz.de/">University of Konstanz</a>.
      </p>
      <p>
        Check out my github profile:
        <a href="https://github.com/luis-txt">luis-txt</a>
      </p>
    </div>

    <a class="licences" href="licences">
      Licences
      <p>Licence details for used software</p>
    </a>
  </body>
</html>

