.logo-dev {
  max-width: 80%;
}

.me:hover {
  transform: scale(1.1);
}

#me-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: var(--ternary-color);
  border: 0.5rem solid var(--secondary-color);
  transition: transform .2s;
  cursor: pointer;
}

#particles-js {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

