html, body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 1rem 1.5rem 1rem;
  background-color: var(--ternary-color);
  border-top: 0.5rem solid var(--secondary-color);
  gap: 3rem;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-weight: normal;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  font-size: 110%;
}

/* Collapsible */
.collapsible-container {
  max-width: 50rem;
  overflow-wrap: break-word;
}

.collapsible {
  background-color: var(--ternary-color);
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
}

.active, .collapsible:hover {
  background-color: var(--secondary-color);
}

.content {
  max-height: 0;
  padding: 0 1rem;
  background-color: var(--ternary-color);
  overflow: hidden;
  margin-bottom: 1rem;
  transition: max-height 0.2s ease-out;
}

/* Constants */
:root {
  --primary-color: #191D88;
  --secondary-color: #1450A3;
  --ternary-color: #337CCF;
  --text-color: white;
  --background-color: #FFC436;
}

